@font-face {
    font-family: "Poppins";
    src: url("../Assets/Poppins-Medium.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    font-size: 20px;
    font-family: "Poppins";
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#screen{
    height: 100%;
    width: 35%;
    box-shadow: 0 0 5px 2px #333;
    margin: 2% 0 0 10%;
    overflow: hidden;
    border-radius: 4px;
    transition: .5s;
}

.images{
    height: 100%;
    width: 100%;
}

button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 0;
    background-color: #aaaaaa44;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    box-shadow: 0 0 2px 1px #333;
    cursor: pointer;
    transition: .5s;
    margin: 32% 0 0 0;
    z-index: 1000;
}
button:hover{
    background-color: #aaaaaaaa;
}

#nextBtn{
    margin-left: 10%;
}

#prevBtn{
    margin-left: 19%;
}

@media screen and (max-width: 850px){
    #prevBtn{
        margin-left: 14%;
    }
    #screen{
        width: 40%;
    }
}

@media screen and (max-width: 750px){
    #screen{
        width: 50%;
    }
    #prevBtn{
        margin-left: 9%;
    }
}

@media screen and (max-width: 605px){
    #Info h1{
        font-size: 35px;
    }
    #prevBtn{
        margin-left: .7%;
    }
    #screen{
        width: 60%;
    }
    button{
        margin: 47% 0 0 0;
    }
}

@media screen and (max-width: 540px){
    #screen{
        margin: 2% 0 0 2%;
        width: 76%;
    }
    #nextBtn{
        margin-left: 2%;
    }
}

@media screen and (max-width: 500px){
    #screen{
        margin: 2% 0 0 0;
    }
    #nextBtn{
        margin-left: 0;
    }
    #prevBtn{
        margin-left: 1.7%;
    }
}

@media screen and (max-width: 450px){
    
    #prevBtn{
        margin-left: .7%;
    }

    #screen{
        margin: 2% 0 0 -10%;
        width: 97%;
    }
    #nextBtn{
        margin-left: -10%;
    }

    button{
        margin: 60% 0 0 0;
    }
}

@media screen and (max-width: 370px){
    #screen{
        margin: 2% 0 0 -12%;
        width: 100%;
    }
    #nextBtn{
        margin-left: -12%;
    }
    button{
        margin: 75% 0 0 0;
    }
}

@media screen and (max-width: 350px){
    button{
        margin: 85% 0 0 0;
    }
}
